name: Lint and Test
on: push

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@v4
      - name: Setup Graphviz
        uses: ts-graphviz/setup-graphviz@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        id: cpython3
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: requirements.txt
          allow-prereleases: true
      - run: pip install -r requirements.txt
      - run: pip install black ruff pytest pytest-cov
      - run: ruff check .
      - name: Run mypy if on 3.12, pytype otherwise
        run: |
          if [[ '${{ steps.cpython3.outputs.python-version }}' == 3.11* ]]; then
            pip install pytype
            pytype -j auto graphviz2drawio
          elif [[ '${{ steps.cpython3.outputs.python-version }}' == 3.12* ]]; then
            echo "Using mypy for Python 3.12"
            pip install mypy
            mypy graphviz2drawio --ignore-missing-imports --strict
          elif [[ '${{ steps.cpython3.outputs.python-version }}' == 3.13* ]]; then
            echo "Using ty for Python 3.13"
            pip install ty
            ty check
          else
            echo "Using pyrefly"
            pip install pyrefly
            pyrefly
          fi
      - uses: psf/black@stable
        with:
          options: "--check --verbose"
      - run: pytest --cov
