name: Markdown lint and typos

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  markdown-lint-and-typos:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Markdown Lint
        uses: avto-dev/markdown-lint@v1.5.0
        with:
          args: "./README.md"
          config: "./.markdownlint.jsonc"
      - name: Typos
        uses: crate-ci/typos@v1.19.0
